/* Resetando o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #e4dedc; /* Fundo verde claro */
    color: #333;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #6d872e; /* Verde claro */
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    color: #bfd202; /* Verde mais suave */
}

.form {
    display: flex;
    flex-direction: column;
}

.form-section {
    margin-bottom: 20px;
}

h2 {
    color: #6d872e;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #6d872e;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #727069;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f8f4ed;
    font-family: 'Montserrat';
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #0a5247;
}

::placeholder {
    font-family: 'Montserrat';
}

textarea {
    height: 100px;
}

button {
    padding: 12px 20px;
    background-color: #d47f50; /* Amarelo pastel */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-family: 'Montserrat';
}

button:hover {
    background-color: #F39C12;
}
